{% extends 'base_student.html' %} 

{% block container %}

<h1>List of Consulting Institutions</h1>
    <!-- Search Form -->
    <form id="searchForm" action="{{ url_for('search_student') }}" method="post">
        <label for="searchQuery">Search:</label>

        <input type="text" id="name_inst" name="name_inst" placeholder="Enter Institution Name">

        <input type="text" id="base_inst" name="base_inst" placeholder="Enter Institution Base Location" style="width: 180px;">
        <input type="text" id="kwrd_inst" name="kwrd_inst" placeholder="Enter Description Keyword" style="width: 160px;">

        <input type="submit" value="Search">
    </form>

<br>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Base Location</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    
    {% for doc in docs %}
    <tr>
        <td>{{doc.name}}</td>
        <td>{{doc.base}}</td>
        <td>{{doc.desc}}</td>
        <td><a href="{{url_for('view_profile_student', inst_id=doc._id)}}">Visit</a>  </td>
    </tr>
    {%endfor%}

</table>

{% endblock %}